{% extends "@App/layout-cleanzone.html.twig" %}

{% block content %}

    <div class="page-head">
        <h2>Blank Page</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Category</a>
            </li>
            <li class="active">Sub Category</li>
        </ol>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-8">

                <div class="block-flat">
                    <div class="header">
                        <h2 class="title">Manage my bookmarks</h2>
                    </div>
                    <div class="content">
                        {% if bookmarks is not empty %}
                            <table class="no-border">
                                <thead class="no-border">
                                <tr>
                                    <th>Name</th>
                                    <th>URI</th>
                                    <th width="41"></th>
                                </tr>
                                </thead>
                                <tbody class="no-border-x no-border-y">
                                    {% for bookmark in bookmarks %}
                                        <tr>
                                            <td>{{ bookmark.name }}</td>
                                            <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }} <i class="fa fa-external-link"></i></a></td>
                                            <td>
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-xs btn-tertiary dropdown-toggle" type="button" aria-expanded="true">
                                                    <i class="fa fa-cogs"></i>
                                                </button>
                                                <ul role="menu" class="dropdown-menu">
                                                    <li><a href="{{ path("van_bookmarks_update", {"id": bookmark.id}) }}">Update</a></li>
                                                    <li><a href="{{ path("van_bookmarks_delete", {"id": bookmark.id}) }}">Delete</a></li>
                                                </ul>
                                            </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            You have no bookmark yet.
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="block-flat">
                    <div class="header">
                        <h2 class="title">Actions</h2>
                    </div>
                    <div class="content">
                        <button class="btn btn-primary btn-flat md-trigger" data-modal="form-bookmark">Add a new bookmark</button>
                        <button class="btn btn-primary btn-flat md-trigger" data-modal="form-category">Add a new category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form-bookmark" class="md-modal colored-header custom-width md-effect-9">
        <div class="md-content">
            {% include '@VanBookmark/Bookmark/form-modal.html.twig' with {"form": formBookmark} %}
        </div>
    </div>
    <div id="form-category" class="md-modal colored-header custom-width md-effect-9">
        <div class="md-content">
            {% include '@VanBookmark/Category/form-modal.html.twig' with {"form": formCategory} %}
        </div>
    </div>
{% endblock content %}