{% extends "@App/layout-cleanzone.html.twig" %}

{% block content %}

    <div class="page-head">
        <h2>My profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path("index") }}">Home</a>
            </li>
            <li class="active">My profile</li>
        </ol>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">

                <div class="block-flat">
                    <div class="header">
                        <h2 class="title">My communities</h2>
                    </div>
                    <div class="content">

                        {{ form_start(formJoinCommunity, {"attr": {"class": "form-inline"}}) }}
                            {{ form_widget(formJoinCommunity.community, {"attr": {"class": "js-data-example-ajax"}}) }}

                            <button type="submit" class="btn btn-primary">Join this community</button>
                        {{ form_end(formJoinCommunity) }}

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-data-example-ajax").select2({
                theme: 'bootstrap',
                ajax: {
                    url: "{{ path("api_communities") }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        }
                    },
                    processResults: function (data, page) {
                        // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data
                        return {
                            results: data.items
                        }
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup
                }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
        /* ==================================================================
         Select2 Helper Functions
         ================================================================== */

        function formatRepo (repo) {
            if (repo.loading) return repo.text

            var markup = '<div class="clearfix">' +
                    '<div class="col-sm-1">' +
                    '<img src="' + repo.owner.avatar_url + '" style="max-width: 100%" />' +
                    '</div>' +
                    '<div clas="col-sm-10">' +
                    '<div class="clearfix">' +
                    '<div class="col-sm-6">' + repo.full_name + '</div>' +
                    '<div class="col-sm-3"><i class="fa fa-code-fork"></i> ' + repo.forks_count + '</div>' +
                    '<div class="col-sm-2"><i class="fa fa-star"></i> ' + repo.stargazers_count + '</div>' +
                    '</div>'

            if (repo.description) {
                markup += '<div>' + repo.description + '</div>'
            }

            markup += '</div></div>'

            return markup
        }

        function formatRepoSelection (repo) {
            return repo.full_name || repo.text
        }
    </script>
{% endblock javascript %}