{% form_theme form 'bootstrap_3_layout.html.twig' %}


{{ form_start(form) }}
    {{ form_widget(form.content, {"attr": {"class": "form-control"}}) }}
<div class="form-group">
    <button type="submit" class="btn btn-primary pull-right">Post comment</button>
</div>
{{ form_end(form) }}

<br class="clearfix" /><br />

{% for comment in comments %}
    <div>
        <a href="#">{{ comment.user.firstname ~" "~ comment.user.lastname }}</a>: {{ comment.content }}
    </div>
    <hr />
{% endfor %}